<!--Start Main Section-->
<div class="landing" id="">
  <div class="intro-text">
    <h1>HELLO THERE</h1>
    <p>We are Leon - Super Creative & Minimal Agency Web Template</p>
  </div>
</div>
<!--End Main Section-->

<!--Start Feature Section-->
<div class="feature">
  <div class="container">
    <div class="feat">
      <i class="fas fa-magic fa-x3"></i>
      <h3>Tell Us Your Idea</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, aperiam ratione iste facilis
        dicta explicabo modi earum ipsam fugit
      </p>
    </div>
    <div class="feat">
      <i class="far fa-gem fa-3x"></i>
      <h3>Tell Us Your Idea</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, aperiam ratione iste facilis
        dicta explicabo modi earum ipsam
      </p>
    </div>
    <div class="feat">
      <i class="fas fa-globe-asia fa-3x"></i>
      <h3>Tell Us Your Idea</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, aperiam ratione iste facilis
        dicta explicabo modi earum ipsam
      </p>
    </div>
  </div>
</div>
<!--End Feature Section-->

<!-- Start Services -->
<div class="services" id="services">
  <div class="container">
    <h2 class="specail-heading">Services</h2>
    <p>Don't be busy, be Productive</p>
  </div>
  <div class="services-content">
    <div class="col">
      <!-- start service -->
      <div class="ser">
        <i class="fas fa-palette fa-2x"></i>
        <div class="text">
          <h3>Graphic Design</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur quibusdam
            eveniet, similique alias repellat rerum assumenda quia minima
          </p>
        </div>
      </div>
      <div class="ser">
        <i class="fab fa-sketch fa-2x"></i>
        <div class="text">
          <h3>UI & UX</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur quibusdam
            eveniet, similique alias repellat rerum assumenda quia minima i
          </p>
        </div>
      </div>
      <!-- End service -->
    </div>
    <div class="col">
      <div class="ser">
        <i class="fas fa-vector-square fa-2x"></i>
        <div class="text">
          <h3>Web Design</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur quibusdam
            eveniet, similique alias repellat rerum assumenda quia minima
          </p>
        </div>
      </div>
      <div class="ser">
        <i class="fas fa-pencil-ruler fa-2x"></i>
        <div class="text">
          <h3>Web Development</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur quibusdam
            eveniet, similique alias repellat rerum assumenda quia minima
          </p>
        </div>
      </div>
      <!-- End service -->
    </div>
    <div class="col">
      <div class="image">
        <img src="assets/images/services.jpg" alt="services" />
      </div>
    </div>
  </div>
</div>
<!-- End Services -->

<!-- Start portfolio -->
<div class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="specail-heading">Portfolio</h2>

    <p>If you do it right, it will last forever.</p>

    <div class="portfolio-content">
      <div class="card">
        <img src="assets/images/portfolio-1.jpg" alt="Portfolio Item" />

        <div class="info">
          <h3>Project Title</h3>
          <p>
            My creative ability is very difficult to measure because it can manifest in so many
            surprising and.
          </p>
        </div>
      </div>

      <div class="card">
        <img src="assets/images/portfolio-2.jpg" alt="Portfolio Item" />

        <div class="info">
          <h3>Project Title</h3>
          <p>
            My creative ability is very difficult to measure because it can manifest in so many
            surprising and.
          </p>
        </div>
      </div>

      <div class="card">
        <img src="assets/images/portfolio-3.jpg" alt="Portfolio Item" />

        <div class="info">
          <h3>Project Title</h3>
          <p>
            My creative ability is very difficult to measure because it can manifest in so many
            surprising and.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End portfolio -->

<!-- Start About -->
<div class="about" id="about">
  <div class="container">
    <h2 class="specail-heading">About</h2>
    <p>Less is More Work</p>
  </div>
  <div class="about-content">
    <div class="image">
      <img src="assets/images/about.jpg" alt="" />
    </div>
    <div class="text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur totam error tempora iure
        quod. Nobis, obcaecati magni? Temporibus officia mollitia veritatis vel sunt impedit
        incidunt et voluptates deleniti sed. Nulla!
      </p>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vero quasi reprehenderit
        porro maxime culpa assumenda quam magnam fugiat minus amet aliquid ex, asperiores sint
        molestias corporis iure aliquam eos.
      </p>
    </div>
  </div>
</div>
<!-- End about -->

<!-- Start contact -->
<div class="contact" id="contact">
  <div class="container">
    <h2 class="specail-heading">Contact</h2>
    <p>We Are Born To Create</p>
  </div>
  <div class="contact-content">
    <div class="info">
      <p class="label">Feel Free To Contact Us at :</p>
      <a href="mailto:dawoodeslam017@gmail.com?subject=Contact" class="link"
        >dawoodeslam017@gmail.com</a
      >
      <div class="socail">
        Find Us on social media :
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </div>
</div>
<!-- End contact -->
